.profile__btn-edit {
  background: url(../../../images/btn-edit.svg) center center no-repeat;
  height: 24px;
  width: 24px;
  align-self: center;
  margin-left: 18px;
  border: 1px solid #fff;
}

.profile__btn-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
